:root{
    --red: #ca1919;
    --black: #131313;
}

body,
header,
h1,
nav,
div,
a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ELEMENTOS BASE*/
body {
    background: var(--black);
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--red);
    font-family: 'arial black';
    font-size: 40px;
    margin-left: 5px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/*FILME PRINCIPAL*/
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url("../img/the-witcher.jpeg");
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-bottom: 40px;
}

.titulo {
    font-size: 40px;
}